<div class="container d-flex hero">
  <div class="col-md-8 col-lg-12 offset-md-2 offset-lg-0 align-items-center">
    <div class="jumbotron">
      <h1>Contact Us</h1>
      <p id="gf-address">GForce Products, LLC.
        <br> 5603-B West Friendly Ave #145
        <br> Greensboro, NC 27410
      </p>
      <p id="gf-phone">
        PH: 336-289-5012
      </p>

      <ul>
        <li>If you would like to purchase the Rollepro, click
          <a [routerLink]="['distributors']">here</a> for a list of authorized distributors.</li>
        <li>If your primary supplier is not listed or if you have additional product questions, please email us and include
          your name, contact information, and company affiliation. (Click
          <a href="mailto:gforceproducts@triad.rr.com">here</a> to send email)</li>
      </ul>
    </div>
  </div>
</div>